{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Set text color */
  padding: 5px 10px; /* Add padding */
  border: 1px solid #333; /* Add border */
  border-radius: 5px; /* Add border radius for rounded corners */
  margin-right: 10px; /* Add right margin for spacing between links */
  transition: all 0.3s ease; /* Add smooth transition effect */
}

/* Hover effect */
a:hover {
  background-color: #333; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

</style>



<a href="/add-unit">Add Unit</a>
<a href="{{ url_for('views.units') }}">Units</a>
<!-- User Details Modal -->
<div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog" aria-labelledby="userDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
             
              <h5 class="modal-title text-center" id="userDetailsModalLabel">User Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
         
          <div class="text-center">
              <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
           
              <p><strong>Email:</strong> {{ user.email }}</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal" data-dismiss="modal">Edit</button>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editUserModalLabel">Edit User Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('auth.update_user') }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <div class="form-group">
                    <label for="editFirstName">First Name</label>
                    <input type="text" class="form-control" id="editFirstName" name="editFirstName" value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <label for="editLastName">Last Name</label>
                    <input type="text" class="form-control" id="editLastName" name="editLastName" value="{{ user.last_name }}">
                </div>
                <div class="form-group">
                    <label for="editUnitInfo">Unit Info</label>
                    <input type="text" class="form-control" id="editUnitInfo" name="editUnitInfo" value="{{ user.unit_info }}">
                </div>
                <div class="form-group">
                    <label for="editEmail">Email</label>
                    <input type="email" class="form-control" id="editEmail" name="editEmail" value="{{ user.email }}">
                </div>
                <div class="form-group">
                    <label for="editPassword">Password</label>
                    <input type="password" class="form-control" id="editPassword" name="editPassword">
                </div>
               
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
          
      </div>
  </div>
</div>


<a href="{{ url_for('views.payment_calendar') }}">Payments</a>


<a href="{{ url_for('static', filename='qrcodes/' ~ user.qrcode) }}" download="QRCode.png"
  class="btn btn-success">Download QR Code</a>
<br>
<br>
<a href="/topup">Topup</a>

<a href="/deduct">Pay</a>
<script>
function applyFilter(filterId) {
    let rows = document.querySelectorAll('tbody tr');

    rows.forEach(row => {
        let showRow = true;

        if (filterId === 'topUp' || filterId === 'payment') {
            let typeCell = row.querySelector('td:nth-child(4)');
            if (typeCell.innerText.trim() !== filterId.toUpperCase()) {
                showRow = false;
            }
        } else if (filterId.includes('-')) {
          let dateCell = row.querySelector('td:nth-child(2)');
          let [month, year] = filterId.split('-');
          let transactionDate = new Date(dateCell.innerText.trim());
          if (transactionDate.getMonth() + 1 !== parseInt(month) || transactionDate.getFullYear() !== parseInt(year)) {
              showRow = false;
          }
      }

      else {
            let dateCell = row.querySelector('td:nth-child(2)');
            let monthYear = dateCell.innerText.trim().split(' ')[0];
            if (monthYear !== filterId) {
                showRow = false;
            }
        }

        if (showRow) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });
} 

document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', event => {
            event.preventDefault();
            applyFilter(item.id);
        });
    });
});
socket.on('connect', function() {
    console.log('Connected to server');
});
socket.on('balance_updated', function(data) {
    console.log('Balance updated:', data);
    // Update balance in the UI
    // Example: document.getElementById('balance').innerText = data.new_balance;
}); 
</script>
{% endblock %}
